// custom SCSS (or CSS) goes here

.site-title {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: $sp-3;
    padding-bottom: $sp-3;
    color: $body-heading-color;
    font-weight: bold;

    @include container;

    //@include fs-4;
    @include fs-sidebar-title;

    @include mq(md) {
        padding-top: $sp-2;
        padding-bottom: $sp-2;
    }
}

.site-nav {
    display: none;

    &.nav-open {
        display: block;
    }

    @include mq(md) {
        display: block;
        padding-top: $sp-6;
        padding-bottom: $gutter-spacing-sm;
        overflow-y: auto;
        flex: 1 1 auto;
    }
}

// .nav-list .nav-list-item .nav-list-link:hover,
// .nav-list .nav-list-item .nav-list-link.active {
//     background-image: linear-gradient(-90deg, #c5d2df 10%, #dde7f2 100%, rgba(239, 239, 239, 0) 10%);
// }

.nav-list .nav-list-item .nav-list-link:hover,
.nav-list .nav-list-item .nav-list-link.active {
    background-image: linear-gradient(-90deg, #b2c4b5 10%, #d6e1d8 100%, rgba(239, 239, 239, 0) 10%);
}

.main-content-wrap {
    padding-top: 0;
    padding-bottom: $gutter-spacing-sm;

    @include container;

    @include mq(md) {
        padding-top: 0;
        padding-bottom: $gutter-spacing;
    } }

.main-content {

    line-height: 1.8rem;

    b,
    strong {
        font-weight: bolder;
        font-family: "Oswald";
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    #toctitle {
        // font-family: "Playfair Display";
        font-family: "Oswald";
        position: relative;
        margin-top: 1.8rem;
        margin-bottom: 0.75em;
        color: #202020;

        +table,
        +.table-wrapper,
        +.code-example,
        +.highlighter-rouge,
        +.sectionbody .listingblock {
            margin-top: 1em;
        }

        +p:not(.label) {
            margin-top: 0;
        }
    }

    h1 {
        color: #323b46;
    }

    h1::first-letter {
        font-size: 4.5rem;
    }

    h1:first-of-type {
        margin-top: 0;
    }

    h2{
        padding: 1.3rem;
        background-color: #eaeaea;
    }

    >h1:first-child,
    >h2:first-child,
    >h3:first-child,
    >h4:first-child,
    >h5:first-child,
    >h6:first-child,
    >.sect1:first-child>h2,
    >.sect2:first-child>h3,
    >.sect3:first-child>h4,
    >.sect4:first-child>h5,
    >.sect5:first-child>h6 {
        margin-top: $sp-2;
    }

    ul,
    ol {
        padding-left: 1.5em;
    }

    li {
        .highlight {
            margin-top: $sp-1;
        }
    }

    ul {
        list-style: none;

        >li {
            &::before {
                position: absolute;
                font-size: 1rem;
                margin-left: -1.4em;
                color: #576677;
                content: "●";
                line-height: inherit;
            }
        }
    }

    ol {
        list-style: none;
        counter-reset: step-counter;
        padding-left: 4rem;

        >li {
            margin: 0 0 1rem 0;
            position: relative;
            padding-left: 0.25rem;
            padding-top: 0.1rem;
            padding-bottom: 0.5rem;

            &::before {
                content: counter(step-counter);
                counter-increment: step-counter;
                color: #576677;
                position: absolute;
                --size: 2rem;
                left: calc(-1 * var(--size) - 10px);
                //line-height: var(--size);
                line-height: inherit;
                width: var(--size);
                height: var(--size);
                top: 0;
                background: #dde7f2;
                border-radius: 50%;
                text-align: center;
                @include fs-3;

                @include mq(sm) {
                    top: 0.11em;
                }
            }

            ol {
                counter-reset: sub-counter;

                >li {
                    &::before {
                        counter-increment: sub-counter;
                        content: counter(sub-counter, lower-alpha);
                    }
                }
            }
        }
    }

    ul > li {
        padding-bottom: 0.5rem;
    }

    ol > li > ul > li {
        padding-bottom: 0.5rem;
    }

    // ul:has(li:only-child) {
    //     padding-left: 0;
    // }

    ol > li > ul {
        padding-left: 0;
    }

    ol > li > ul > li:only-child {
        padding-left: 0;
    }

    ol > li > ul > li {
        padding-left: 1.5rem;
    }

    ul > li:only-child {
        padding-left: 0;
        &::before {
            content: none;
        }
    }

    // ol > li > ul > li:only-child {
    //     &::before {
    //         content: none;
    //     }
    // }

    a {
        color: #0c296c;
        font-weight: 700;
    }

    a:hover {
        color: #0c296c;
    }

    a:not([class]) {
        text-decoration: underline;
        text-decoration-color: rgba($link-color, 0.7);
        text-underline-offset: 2px;

        &:hover {
            text-decoration-color: rgba($link-color, 1);
            text-decoration-thickness: 0.1rem;
        }
    }

    blockquote {
        margin: 10px 0;
        // resets user-agent stylesheets for blockquotes
        margin-block-start: 0;
        margin-inline-start: 1rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
        padding-left: 1rem;
        border: 2px solid #e1e1e1;
        background-color: #f9f9f9;
        width: 90%;
        padding: 1.1rem;

        >p {
            font-size: 1.1rem;
            font-style: italic;
        }

        ul:has(li:only-child) {
            padding-left: 1.5em;
        }

    }

}






