// custom SCSS (or CSS) goes here

.site-title {
    flex-grow: 1;
    display: flex;
    height: 100%;
    align-items: center;
    padding-top: $sp-3;
    padding-bottom: $sp-3;
    color: $body-heading-color;

    @include container;

    @include fs-4;

    @include mq(md) {
        padding-top: $sp-2;
        padding-bottom: $sp-2;
    }
}

.site-nav {
    display: none;

    &.nav-open {
        display: block;
    }

    @include mq(md) {
        display: block;
        padding-top: $sp-6;
        padding-bottom: $gutter-spacing-sm;
        overflow-y: auto;
        flex: 1 1 auto;
    }
}


.main-content {

    p {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    #toctitle {
        font-family: "Playfair Display";
        position: relative;
        margin-top: 1.5em;
        margin-bottom: 0.75em;

        +table,
        +.table-wrapper,
        +.code-example,
        +.highlighter-rouge,
        +.sectionbody .listingblock {
            margin-top: 1em;
        }

        +p:not(.label) {
            margin-top: 0;
        }
    }

    >h1:first-child,
    >h2:first-child,
    >h3:first-child,
    >h4:first-child,
    >h5:first-child,
    >h6:first-child,
    >.sect1:first-child>h2,
    >.sect2:first-child>h3,
    >.sect3:first-child>h4,
    >.sect4:first-child>h5,
    >.sect5:first-child>h6 {
        margin-top: $sp-2;
    }

    h1 {
        font-size: 2.4rem;
        margin: 0.67em 0;
    }

    ul,
    ol {
        padding-left: 1.5em;
    }

    li {
        .highlight {
            margin-top: $sp-1;
        }
    }

    ul {
        list-style: none;

        >li {
            &::before {
                position: absolute;
                font-size: 1rem;
                margin-left: -1.4em;
                color: $blue-200;
                content: "•";
            }
        }
    }

    ol {
        list-style: none;
        counter-reset: step-counter;
        padding-left: 4rem;

        >li {
            margin: 0 0 1rem 0;
            position: relative;
            padding-left: 0.25rem;
            padding-top: 0.1rem;

            &::before {
                content: counter(step-counter);
                counter-increment: step-counter;
                color: black;
                position: absolute;
                --size: 1.75rem;
                left: calc(-1 * var(--size) - 10px);
                line-height: var(--size);
                width: var(--size);
                height: var(--size);
                top: 0;
                background: #dde7f2;
                border-radius: 50%;
                text-align: center;
                @include fs-3;

                @include mq(sm) {
                    top: 0.11em;
                }
            }

            ol {
                counter-reset: sub-counter;

                >li {
                    &::before {
                        counter-increment: sub-counter;
                        content: counter(sub-counter, lower-alpha);
                    }
                }
            }
        }
    }

    blockquote {
        margin: 10px 0;
        // resets user-agent stylesheets for blockquotes
        margin-block-start: 0;
        margin-inline-start: 1rem;
        padding-left: 1rem;
        border: 2px solid #e1e1e1;
        background-color: #f2f1f1;
        width: 90%;
        padding: 1.1rem;

        >p {
            font-size: 1.1rem;
            font-style: italic;
        }

    }

}



a:not([class]) {
    text-decoration: underline;
    text-decoration-color: rgba($link-color, 0.7);
    text-underline-offset: 2px;

    &:hover {
        text-decoration-color: rgba($link-color, 1);
        text-decoration-thickness: 0.1rem;
    }
}




