// custom setup code goes here

// $nav-width: 16.5rem !default;
// $nav-width-md: 15.5rem !default;
// $content-width: 50rem !default;

$nav-width: 17.5rem;
$nav-width-md: 16.5rem;
$content-width: 49rem;

// Typography

// prettier-ignore
// $body-font-family: system-ui, -apple-system, blinkmacsystemfont, "Segoe UI",
//     roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji" !default;
// $mono-font-family: "SFMono-Regular", menlo, consolas, monospace !default;
// $root-font-size: 16px !default; // DEPRECATED: previously base font-size for rems
// $body-line-height: 1.4 !default;
// $content-line-height: 1.6 !default;
// $body-heading-line-height: 1.25 !default;

// Typography

// prettier-ignore
$body-font-family: "Inter", sans-serif;
$mono-font-family: "SFMono-Regular", menlo, consolas, monospace;
$root-font-size: 16px; // DEPRECATED: previously base font-size for rems
$body-line-height: 1.5;
$content-line-height: 1.7;
$body-heading-line-height: 1.25;
$body-text-color: $grey-dk-300;

$link-color: #fff;
$nav-child-link-color: #fff;

//$sidebar-color: #f7f7f7;
//$sidebar-color: #dde7f2;
$sidebar-color: #0f2943;

// $font-size-1: 0.5625rem !default;
// $font-size-1-sm: 0.625rem !default;
// $font-size-2: 0.6875rem !default; // h4 - uppercased!, h6 not uppercased, text-small
// $font-size-3: 0.75rem !default; // h5
// $font-size-4: 0.875rem !default;
// $font-size-5: 1rem !default; // h3
// $font-size-6: 1.125rem !default; // h2
// $font-size-7: 1.5rem !default;
// $font-size-8: 2rem !default; // h1
// $font-size-9: 2.25rem !default;
// $font-size-10: 2.625rem !default;
// $font-size-10-sm: 3rem !default;


$font-size-1: 0.65rem;
$font-size-1-sm: 0.8rem;
$font-size-2: 0.85rem;
$font-size-3: 0.9rem;
$font-size-4: 0.9rem; // sidebar links
$font-size-5: 1.3rem;
$font-size-6: 1.4rem;
$font-size-7: 2.1rem;
$font-size-8: 2.5rem;
$font-size-8-sm: 2.5rem;
$font-size-9: 3.5rem; // h1
$font-size-10: 4.3rem;
$font-size-10-sm: 4.7rem;

$font-size-sidebar-title: 1.1rem;
$font-size-sidebar-title-sm: 1.2rem;

$header-height: 3.8rem;

$media-queries: (
    xs: 20rem,
    sm: 31.25rem,
    md: $content-width,
    lg: $content-width + $nav-width,
    xl: 87.5rem,
    );

@mixin fs-sidebar-title {
    & {
        font-size: $font-size-sidebar-title !important;
        line-height: $body-heading-line-height;
    }

    @include mq(sm) {
        font-size: $font-size-sidebar-title-sm !important;
    }
}
